1. *** Enter in class with very high energy. If hungry/thursty or some other reason of inconsistance => Do it before class. May be it consume few minutes & I reach late in class.
2. Keep the required notes and books in advance.
3. ** Facebook only between 5-6. If due to some reason, i had to use it => Mention it here.	{ Extra fb opened time:  }


